.firstName,
.secondName,
.email {
  display: flex;
  margin: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 13%;
}
.mainDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
input {
  margin: 5px;
}
.btn {
  margin: 10px;
}
.error {
  color: red;
}
.successMsg {
  color: green;
}
.button {
  display: flex;
}
.back-btn {
  height: 21px;
  margin-top: 10px;
}
